<%- include("../includes/header.ejs", {title:"Employee Index"} ); %>

<h1>Get off your ass and start working!</h1>
<br/>
<br/>
<a href="/employees/getActiveIssues">Get money from these people and/or get them off our backs</a>
<br/>
<a href="/../albums/checkFormatsInStock">Check what formats we have in stock and how many of each</a>
<br/>
<a href="/employees/findAlbumsPresentInMoreThenOneOrder">See which albums appear on more then one order</a>
<br/>
<br/>
<a href="/">...Back to the front page (you're lucky I let you work here. Never forget that...)</a>

<%- include("../includes/footer.ejs"); %>