<%- include("../includes/header.ejs", {title:"Employee Index"} ); %>

<h1>Get off your ass and start working!</h1>
<br/>
<br/>
<a href="/employees/getActiveIssues">Get money from these people and/or get them off our backs</a>

<%- include("../includes/footer.ejs"); %>