<%- include("./includes/header.ejs", {title: title}); %>

<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
<h1>The Triangular Department - We're Adjacent To You!</h1>
<h2>What We Do</h2>
<p>Nanaette Nunanchi had a vision. That vision was to get 45 piglets in a bundle and send them off to charity.
    This never quuite worked out as George couldn't be bothered to give a hand, so we decided to enter into an emerging market and sell music albums instead!
At the Triangular Department, you can browse our extensive catalog 6 (or 7?) albums, arbitrarily chosen from what was on our creators mind at the time of this website's creation.
You can also expect all of your personal information to be stored in plaintext, so any wannabe hacker who read a blog entry about
kali linux can easily gain access to it all!</p>
<p> <a target="_blank" href="https://www.youtube.com/watch?v=464i66_mgL4">An informative video from our founder!</a><br/> </p>
<h3>Other Links</h3>
<p><a href=/images/ER_diagram_proj2.jpg>Our ER Diagram</a></p>
<p><a href=/images/Relational_schema_proj2.jpg>Our Relational Schema</a></p>
</body>
</html>

<%- include("./includes/footer.ejs"); %>