<%- include("./includes/header.ejs", {title: title}); %>

<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
<h1><%= title %></h1>
<p>Index of Actions</p>
<br/>
<br/>

<a href=albums/catalog >Browse Catalog</a>
<br/>
<a href=orders/new >Create a new Order</a>
<br/>
<a href=customers/add >Add New Customer Profile</a>
<br/>
<p>Profile Information</p> <!-- edit personal info -->
<br/>
<p>Request a custom order</p> <!-- makes some request for an album not in stock-->
<br/>
<a href=customers/checkOrdersByCustomerId>Look up orders for a customer</a>
<br/>
<br/>
<a href=employees/>Employee Actions</a>
<br/>
<br/>
<p> <a href=/about >The Triangular Department - about us</a><br/> </p>

</body>
</html>

<%- include("./includes/footer.ejs"); %>