<%- include("./includes/header.ejs", {title: title}); %>

<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
<h1><%= title %></h1>
<p>Index of Actions</p>
<br/>
<br/>

Browse Catalog
<br/><!-- return list of all albums -->
Check Status of Order <!-- Look up an order by id -->
<br/>
Create a new Order <!-- add a new order -->
<br/>
Add New Customer Profile <!-- brings up add new customer -->
<br/>
Customer Profile Information <!-- edit personal info -->
<br/>
Request a custom order <!-- makes some request for an album not in stock-->

<br/>
<br/>
<br/>
<p> <a href=/about>The Triangular Department - about us</a><br/> </p>

</body>
</html>

<%- include("./includes/footer.ejs"); %>