<%- include("includes/header.ejs", {title:"Data Successfully Submitted!"}); %>

<h1>Data Successfully Submitted!</h1>
<br/>
<br/>
<a href="/">Return to Index</a>

<%- include("includes/footer.ejs"); %>