<%- include("../includes/header.ejs", {title:"title"}); %>

<!DOCTYPE html>
<html>
<head>
    <title>What Formats We Got.</title>
    <style>
        #albums {
            font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
            border-collapse: collapse;
            width: 100%;
        }

        #albums td, #albums th {
            border: 1px solid #ddd;
            padding: 8px;
        }

        #albums tr:nth-child(even){background-color: #f2f2f2;}

        #albums tr:hover {background-color: #ddd;}

        #albums th {
            padding-top: 12px;
            padding-bottom: 12px;
            text-align: left;
            background-color: #4CAF50;
            color: white;
    </style>
</head>
<body>

<table id="albums">
    <tr>
        <th>Format</th>
        <th>Total in Stock</th>
    </tr>
    <% for (var i = 0; i < result.length; i++) { %>
    <tr>
        <td> <%= result[i].Format%> </td>
        <td> <%= result[i].Total_In_Stock%></td>
    </tr>
    <% } %>
</table>
<br/>
<a href="/employees">Back to the grunt's index</a>

</body>
</html>

<%- include("../includes/footer.ejs"); %>